@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body
{
background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu',sans-serif;
    overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
    top: 0;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 65px;  
    padding: 0 8px; 
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 80px 10px 10px 15px;
    width: 90%;
    border-radius: 12px;
    padding: 40px 50px;
    background-image: url(bg.jpg);
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 80px;
    background-color: black;
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
   cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
  .songItem{
    height: 32px;
    display: flex;
    background-color: white;
    color: black;
    margin: 23px -18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    padding: 23px;
  }
  .songItem img{
    width: 70px;
    margin: 0 23px;
    border-radius: 34px;
  }
  .songItemContainer{
    margin-top: 74px;
  }
  span{
    padding: 10px;
  }
  .timestamp{
     margin: 0 23px;
  }
  .timestamp i{
    cursor: pointer;
  }
  .songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }